# list compresention

In [7]:
for i in range(1,100):
    if i%3==0:
        print(i,end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

### [item loop condition]

In [1]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [2]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
[each for each in range(1,11) if each%2==0]

[2, 4, 6, 8, 10]

In [ ]:
find the students >=60

In [23]:
s=[['sai',70],['ram',30],['lakshmi',60]]
[each for each in s if each[-1]>=60 ]

[['sai', 70], ['lakshmi', 60]]

In [24]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[student for student in students if (student[1]>=60 and student[2]<=1)]

[['sai', 70, 1]]

In [25]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

# dictionary compresention

In [28]:
square = {}
for each in range(1,11):
    square[each]=each*each
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
{each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [30]:
{each:each*each if each%2==0 else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [38]:
names = ['sai','ramu']
grades = ['A','B']
for name,grade in zip(names,grades):
    print(name,'-',grade)

sai - A
ramu - B

In [39]:
square=lambda x:x*x

In [50]:
fun = lambda x,y:(x,y)

In [45]:
a=[1,2,3,4]
fun(a)

1

In [51]:
fun(10,20)

(10, 20)

In [54]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1])
students

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

# Map(function , collection)

In [57]:
numbers =['10','30','60']
s= map(int,numbers)
list(s)

[10, 30, 60]

In [61]:
marks=['10','20','30']
list(map(lambda x:int(x)+30,marks))

[40, 50, 60]

# all , any

In [65]:
marks=[10,20,30,0,100]
all(marks)

False

In [63]:
any(marks)

True

# filter(function,collection)

In [69]:
marks=[10,20,30,0,100]
s=filter(None,marks)
list(s)

[10, 20, 30, 100]

In [90]:
student=[['sai',10],['sunny',30],['ramu',50]]
s=filter(lambda x:x[1]<=30,student)
list(s)

[['sai', 10], ['sunny', 30]]