## PYTHON
*PAYTHON*
**PAYTHON**
***PAYTHON***
* PAYTHON
     * PAYTHON
         * PAYTHON

<img src="ROSE.PNG" >

In [2]:
print("G M")

G M

In [4]:
print("G M",end=" ")
print("G M")

G M G M

In [7]:
a=int(input("enter the lower limit:"))
b=int(input("enter the upper limit:"))
for i in range (a,b+1):
    print(i)

enter the lower limit:1
enter the upper limit:15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

# ARITHMETIC OPERATORS

###  +,-,*,/,//,**,%

In [9]:
10/3

3.3333333333333335

In [10]:
10//3

3

In [11]:
int(10/3)

3

In [12]:
2**3

8

In [13]:
pow(2,3)

8

# relations operations

In [15]:
type(10.58)

float

In [17]:
2==3

False

In [18]:
2!=3

True

In [20]:
a,b,c=1,2,3

In [21]:
a,b,c

(1, 2, 3)

In [22]:
a=1,2,3

In [24]:
a

(1, 2, 3)

In [25]:
type(a)

tuple

In [26]:
a=1

In [29]:
a = a + 1
a

4

In [30]:
a+=1
a

5

In [31]:
a*=1
a

5

# logival operations

In [33]:
True or True

True

In [34]:
not 3 or 5 and 6

6

In [35]:
2 + 3 * 4   #pedmas
3 * 3 // 2 ** 3

1

# bitwise operators

In [37]:
7 & 4  #it_convers_in_binary

4

In [38]:
bin(4)

'0b100'

In [39]:
8 << 1

16

In [41]:
2 is 3 #identity_operators

False

In [42]:
2 is not 3

True

# membership operations

In [43]:
'ap' in 'apssdu'

True

In [44]:
'Ap' in "apssdu"

False

In [46]:
1 in (1,2,3)

True

In [47]:
10 not in (1,2,3)

True

# CONDITIONAL STATEMENTS

### IF & ELSE STATEMENTS

In [3]:
num=-1
if num>0:
    print("positive num")
else :
    print("negitive num")

negitive num

In [4]:
num=10
if num>=0:
    if num==0:
        print("zero")
    elif num!=0:
        print("positive")
else:
    print("negitive")

positive

In [7]:
year=int(input("enter the year:"))
if year%400==0 or (year%4==0 and year%100!=0):
    print(year,"leap year")
else:
    print(year,"not a leap year")

enter the year:2015
2015 not a leap year

## 1.give no is factor of 1000 or not

In [10]:
num=int(input("enter the num"))
if 1000%num==0:
    print("factor of 1000")
else:
    print("no is not factor")

enter the num200
factor of 1000

## 2.len of num

In [1]:
a=123
b=str(a)
print(len(b))

3

### 3.greatest of 200,53,145,221

In [22]:
a,b,c,d=200,53,145,221
if a>b and a>c and a>d:
    print(a," is big")
elif b>a and b>c and b>d:
    print(b, "is big")
elif c>a and c>a and c>d:
    print(c,"is big")
else:
    print (d, "is big")

221 is big

### 4.define the grade of a student based on the percentage
#### 75 above---distintion and first cls
#### 50-75 ---- second cls
#### 35-50 --- pass
#### below 35 --- fail

In [26]:
a=int(input("enter the student percentage:"))
if (a>76):
    print("distintion")
elif (50<=a<=75):
    print("secound")
elif (35<=a<=49):
    print("pass")
else:
    print("fail")

enter the student percentage:80
distintion

### 5.case-1:input--(10,10,10) o/p:10
###    case-2:input--(10,20,30) o/p:60
###    case-3:input--(10,10,20) o/p:20

In [4]:
a=int(input("enter a val"))
b=int(input("enter b val:"))
c=int(input("enter c val:"))
if a==b==c:
      print(a)
elif (a!=b!=c!=a):
    print(a+b+c)
elif a!=b==c:
    print(a)
elif a==b!=c:
    print(c)
else :
    print(c)

enter a val10
enter b val:10
enter c val:20
20

# loop

* for loop

In [ ]:
fot temo_var in sequence:
    statement

In [ ]:
for i in 1,2,3:
    print(i,end='\d')

 * loop_with_range

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [11]:
for i in range(1,6,2):
    print(i)

1
3
5

In [18]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
s="apssdc"
for char in s:
    print(char)

a
p
s
s
d
c

In [22]:
s="apssdc"
for i in range (len(s)):
    print(s[i])

a
p
s
s
d
c

In [23]:
s="apssdc"
for i in range (len(s)-1,-1,-1):
    print(s[i])

c
d
s
s
p
a

In [24]:
s="apssdc"
for i in range (len(s)-1,-1,-1):
    print(s[i],end='')

cdsspa

In [31]:
chr(65)

'A'

In [35]:
for i in range(65,65+26):
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRSTUVWXYZ

* continue

In [37]:
for i in range(65,65+26):
    if chr (i)=='S':
        continue
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRTUVWXYZ

* break

In [38]:
for i in range(65,65+26):
    if chr (i)=='S':
        break
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQR

## while_condition

In [1]:
i=1
while i<5:
    print(i)
    i+=1

1
2
3
4

In [ ]:
n==int(input("enter a val:"))
fact=1
for i in range(1,)