# list

In [3]:
a=list()

In [4]:
a=()

In [6]:
len(a)

0

In [47]:
a=[10,20,30]

In [48]:
a

[10, 20, 30]

### append(item)

In [49]:
a.append(100)
a

[10, 20, 30, 100]

In [50]:
b=['sai','k']

In [51]:
a.append(b)
a

[10, 20, 30, 100, ['sai', 'k']]

In [52]:
a[3]

100

### extend(collections_item)

In [34]:
a=[10,20,30]
b=[40,50]
a.extend(b)
a

[10, 20, 30, 40, 50]

In [38]:
a=[10,20,30]
for each_item in a:
    print(each_item)

10
20
30

In [36]:
student= [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [59]:
high=0
for i in student:
    name=student[0]
    marks=student[1]+student[2]+student[3]
    if high<marks:
        high=marks
        
for i in student:
    name=student[0]
    marks = student[1]+student[2]+student[3]
    if high==marks:
        print(name)

IndexError: list index out of range

### count(items)

In [62]:
a=[10,30,40,30]
a.count(30)

2

In [63]:
[30,[30,40],30].count(40)

0

In [64]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### clear ()

In [65]:
a=[10,20,30]
a.clear() 
a

[]

In [66]:
a=[]
a.clear() 
a

[]

In [68]:
a=[10,30]
b=a.copy()
b

[10, 30]

In [70]:
a.append(30)
a,b

([10, 30, 30, 30], [10, 30])

 ###  index(item)

In [71]:
a=[10,20,30,40]
a.index(10)

0

### insert(item)

In [74]:
a=[10,20,30]
a.insert(1,100)
a

[10, 100, 20, 30]

In [75]:
a=[10,20,30]
a.insert(100,100)
a

[10, 20, 30, 100]

### pop(index)

In [80]:
a=[10,20,30]
a.pop(2)
a

[10, 20]

### remove(item)

In [82]:
a=[10,30,40]
a.remove(10)
a

[30, 40]

### reverse()

In [85]:
a=[10,20,300]
a.reverse()
a

[300, 20, 10]

### sort()

In [98]:
a=[10,40,30]
a.sort()
a

[10, 30, 40]

In [99]:
a=[10,40,30]
a.sort(reverse=True)
a

[40, 30, 10]

In [90]:
len(a)

3

In [91]:
min(a),max(a)

(10, 30)

### slicing

In [92]:
a=[10,20,30,40,50]

In [93]:
a[0:4]

[10, 20, 30, 40]

In [94]:
a[1:4]

[20, 30, 40]

In [95]:
a[2:5]

[30, 40, 50]

In [96]:
a[:]

[10, 20, 30, 40, 50]

In [97]:
a[::-1]

[50, 40, 30, 20, 10]

# Tuple

In [104]:
a=(10,20,40)
a[0]

10

## >Methods in tuple

### >>count()

In [105]:
a=(10,20,30)
a.count(30)

1

### >>index(item)

In [106]:
a=(10,30,40,30)
a.index(30)

1

In [107]:
min(a)

10

In [108]:
max(a)

40

In [109]:
sum(a)

110

In [111]:
a =(1,2,3,4,5,6)
a[1:4]

(2, 3, 4)

In [112]:
a[3:0:-1]

(4, 3, 2)

In [116]:
a[1:4][::-1]

(4, 3, 2)

In [121]:
a[2:0:-1]

(3, 2)

# string methods

### >startswith(sub_string)

In [130]:
name = 'python pro gramming'
name.startswith('ytho')

False

### >endswith(sub_string)

In [131]:
name.endswith('gram')

False

In [132]:
'10'.startswith('10')

True

### >islower , ishigher

In [134]:
name.islower()

True

In [135]:
name.isupper()

False

### >upper

In [136]:
name.upper(),name

('PYTHON PRO GRAMMING', 'python pro gramming')

### >isdigit()

In [137]:
rno='123'
rno.isdigit(),'12a12'.isdigit()

(True, False)

In [138]:
name

'python pro gramming'

### >split()

In [139]:
name ='i am ramu'
name.split()

['i', 'am', 'ramu']

In [140]:
name.split('a')

['i ', 'm r', 'mu']

### > join(collection_string)

In [141]:
characters=['p','y','t','h','o','n']
''.join(characters)

'python'

### >strip()

In [142]:
name='   s b    '
name.strip(),len(name),len(name.strip())

('s b', 10, 3)

#### >lstrip,rstrip

In [143]:
name.lstrip(),name.rstrip()

('s b    ', '   s b')

### >isalpha()

In [146]:
name.isalpha()

False

### >swapcase()

In [148]:
s='SaI'
s.swapcase()

'sAi'

### >capitalize()

In [151]:
s.capitalize()

'Sai'

# dictionary

   #### >is the collection of items with key-value pair

In [152]:
english={'name':'sai','mobile':'9632587410'}

In [153]:
for key in english:
    print(key)

name
mobile

In [155]:
english['name']

'sai'

In [156]:
english['mobile']

'9632587410'

In [157]:
english['name']='balu'

In [160]:
english

{'name': 'balu', 'mobile': '9632587410', 'gender': 'male'}

In [159]:
english['gender']='male'

In [162]:
for key in english:
    print(english[key])

balu
9632587410
male

In [163]:
dir(english)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# methods in dictionary
    #  >copy()
    #  >fromkeys()

In [167]:
keys = ['name','gender','mobile']
{}.fromkeys(keys,30)

{'name': 30, 'gender': 30, 'mobile': 30}

In [172]:
person={'name':'lakshmi','gender':'female'}

### >get

In [173]:
print(person.get('name1','key not available'))

key not available

### >setdefault

In [177]:
person.setdefault('aadhar','5644876')
person

{'name': 'lakshmi', 'gender': 'female', 'name1': None, 'aadhar': '5644876'}

### >item()

In [179]:
person.items()

dict_items([('name', 'lakshmi'), ('gender', 'female'), ('name1', None), ('aadhar', '5644876')])

### >keys
    ##return kets from the dictionary

In [180]:
person.keys()

dict_keys(['name', 'gender', 'name1', 'aadhar'])

### >pop

In [183]:
person.pop('name1')
person

{'name': 'lakshmi', 'gender': 'female', 'aadhar': '5644876'}

### >popitem

In [185]:
person.popitem()
person

{'name': 'lakshmi'}

### >update(dict)

In [188]:
change={'name':'sai','grade':'a'}
person.update(change)
person

{'name': 'sai', 'grade': 'a'}

In [189]:
person.values()

dict_values(['sai', 'a'])

In [195]:
data='sairam123'
result={}
for character in data:
    if character.isalpha():
        if 'alpha' in result:
            old=result['alpha']
            result['alpha']=old+1
        else:
            result['alpha']=1
    if character.isdigit():
        if 'digits' in result:
            old=result['digits']
            result['digits']=old+1
        else:
            result['digits']=1
print(result)

{'alpha': 6, 'digits': 3}

In [196]:
data='sairam123'
result={}
for character in data:
    if character.isalpha():
        result['alpha']=result.get('alpha',0)+1
    if character.isdigit():
         result['digit']=result.get('digit',0)+1
print(result)

{'alpha': 6, 'digit': 3}

# find the freq of char

In [197]:
name='python program'
freq={}
c=0
for latters in name:
    c+=1
print(c)

14

# Sets

In [198]:
a={1,2,3,4,5}

In [205]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [201]:
type(a)

set

### >add

In [203]:
a.add(10)
a

{1, 2, 3, 4, 5, 10}

In [204]:
a.pop()
a

{2, 3, 4, 5, 10}

In [206]:
b={1,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [208]:
a.difference(b)

{2, 3, 4, 5, 10}

In [209]:
a,b

({2, 3, 4, 5, 10}, {1, 7, 8, 9})

In [211]:
a.clear()
a

set()

In [212]:
a={1,2,3,4,5}

In [213]:
a.remove(2)
a

{1, 3, 4, 5}

In [215]:
a.update(b)
a

{1, 3, 4, 5, 7, 8, 9}

In [218]:
c={1,4,3}

In [220]:
c.issubset(a)

True