In [1]:
a=[1,2,3]  # a==b is used for compair values only
b=[1,2,3]  # a is  b is used for compair all
a==b,a is b

(True, False)

In [2]:
id(a)

2246280523656

In [3]:
id(b)

2246280523720

In [4]:
a=[1,2,3]
b=a
a is b,a==b

(True, True)

In [5]:
10&4

0

In [6]:
a=11
b=10
a | b

11

In [7]:
a=11
#-(a)-1
~a

-12

In [8]:
~0

-1

In [9]:
a=10 
b=11
a^b

1

In [10]:
a=10 #1010>>>>>101000
b=2 
a<<b

40

In [11]:
a=10 #1010>>>> 0010
b=2
a>>b

2

In [12]:
a={'name':'balaji','college':'swarnandhra'}
'college' in a

True

In [14]:
d={'a':0,'b':0,"c":0,'d':0,'e':0,'f':0,'g':0,'h':0,'i':0}

In [ ]:
for each in s:

In [24]:
keys=[chr(each) for each in range(97,122)]

In [51]:
contacts={}

In [56]:
def newcontact(name,mobile):
    contacts[name]=mobile

In [66]:
newcontact('baba',9632587410)

In [53]:
def removecontact(name):
    contacts.pop(name)

In [80]:
def updatecontact(name,mobile):
    if name in contacts:
        contacts[name]=mobile

In [81]:
updatecontact('asd',9632587410)

In [87]:
def getcontact(name):
    return contacts[name]

In [88]:
contacts

{'balaji': 9632587410, 'baba': 9632587410}

In [89]:
getcontact('balaji')

9632587410

In [93]:
a={'sai':'ram'}
def fun():
    a['sai']='lakshmi'
    print(a)
fun()
print(a)

{'sai': 'lakshmi'}
{'sai': 'lakshmi'}