# 1.shift marks book.txt to report.txt with attaching total

In [2]:
fh_i = open('book.txt','r')
fh_o = open('report.txt','w')
count=0
for line in fh_i:
    count+=1
    if count==1:
        fh_o.write(line.strip()+'\ttotal\n')
    else:
        marks_list=line.strip().split()[2:]
        newmarks=[]
        for each in marks_list:
            newmarks.append(int(each))
        total_marks=sum(newmarks)
        fh_o.write(line.strip()+'\t'+str(total_marks)+'\n')
fh_i.close()
fh_o.close()

# 2.markes list in accending and desending order using total marks

In [3]:
fh_i = open('book.txt','r')
fh_o = open('report1.txt','w')
count=0
rows=[]
for line in fh_i:
    count+=1
    if count==1:
        fh_o.write(line.strip()+'\ttotal\n')
    else:
        marks_list=line.strip().split()[2:]
        newmarks=[]
        for each in marks_list:
            newmarks.append(int(each))
        total_marks=sum(newmarks)
        row=line.strip()+'\t'+str(total_marks)+'\n'
        rows.append([total_marks,row])
rows.sort(reverse=True)
for row in rows:
    fh_o.write(row[1])
fh_i.close()
fh_o.close()

# x^2+y^2=z^2

In [5]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2+y**2==z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

# 4.creat two digits roll number with 0 to 9

In [6]:
[str(digit1)+str(digit2) for digit1 in range(10) for digit2 in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

# 5.create dictionary for squares of 1 to 10 num
### squares={1:1,2:4,3:9}

In [7]:
square = {}
for each in range(1,11):
    square[each]=each*each
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# names with grade mixing

In [8]:
names = ['sai','ramu']
grades = ['A','B']
students={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    students[name] = grade
print(students)
#students = {'sai':'a','ramu':'b'}

{'sai': 'A', 'ramu': 'B'}

In [10]:
names = ['sai','ramu']
grades = ['A','B']
for name,grade in zip(names,grades):
    print(name,'-',grade)

sai - A
ramu - B

# sort the student based on  english markes
['name',english,maths]

In [34]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
removeindex=1
for student in students:
    #['sai',30,40]
    student.insert(0,student.pop(removeindex))
    # [30,'sai',40]
students.sort()
for student in students:
    # [30,'sai',40]
    student.insert(removeindex,student.pop(0))
    # ['sai',30,40]
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [39]:
students=[
    ['sai',{'maths':30,'english':50}],
    ['ram',{'maths':100,'english':100}],
    ['roja',{'maths':50,'english':40}]]
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'maths': 100, 'english': 100}]]